#detail_post{
    width: 70%;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top: 72px;
    background-color: white;
    padding: 0px 30px;
    text-align: justify;
}
#content .container #sidebar #popular_post{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 10px;

}
#content .container #sidebar #popular_post .item{
    display: flex;
    border-top: 1px solid black;
    padding: 10px 0px;



}
#content .container #sidebar #popular_post .item img{
    display: block;
    width: 40%;
    margin-right: 10px;
}
#content .container #sidebar .fb-page{
    margin-bottom: 10px;
}